name: Deploy

on:
  push:
    branches: [ master ]


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Create a Sentry.io release
        uses: getsentry/action-release@v1.0.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: omella
          SENTRY_PROJECT: testing_sourcemaps
        with:
          tagName: ${{ github.sha }}
          environment: qa
          version_prefix: test-
          sourcemaps: maps/
