name: Deploy

on:
  push:
    branches: [ master ]


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Create a Sentry.io release
        uses: tclindner/sentry-releases-action@v1.2.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: omella
          SENTRY_PROJECT: testing_sourcemaps
	with:
          tagName: ${{ github.ref }}
          environment: production
          releaseNamePrefix: frontend-
          sourcemaps: build/static/js
