name: Test-workflow

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set version
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      - name: Check outputs
        run: echo ${{ steps.vars.outputs.sha_short }}
      - name: Checkout code
        uses: actions/checkout@master
      - name: Create a frontend Sentry.io release
        uses: getsentry/action-release@v1.0.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: omella
          SENTRY_PROJECT: omella-frontend
        with:
          version: ${{ steps.vars.outputs.sha_short }}
          environment: omella-staging.herokuapp.com
          sourcemaps: public/api/vandal/js
      - name: Checkout code
        uses: actions/checkout@master
      - name: Create a backend Sentry.io release
        uses: getsentry/action-release@v1.0.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: omella
          SENTRY_PROJECT: omella-backend
        with:
          version: ${{ steps.vars.outputs.sha_short }}
          environment: omella-staging.herokuapp.com
